<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Excursion Creator!</h2>
    By logging in or signing up, you will be able to create your own personalized, perfect Excursion. You will be able to create an excursion and add to it whatever places you'd like. And guess what? We will keep track of everything! So go ahead and create that bucketlist!
    <h3>Please <a href="/signup">Sign Up</a> or <a href="/login"> Log In</a></h3>

</div>
