<h1>Edit Excursion</h1>


<form action="/excursions/<%=@excursion.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
     <label>Name: </label>
    <input type="text" name="name" value="<%=@excursion.name%>"/><br/>
    
    <label>Description: </label>
    <textarea rows="12" cols="30" type="text" name="description" value="<%=@excursion.description%>"></textarea><br/>
   
    <label>Duration in Days: </label>
    <input type="text" name="days_duration" value="<%=@excursion.days_duration%>"><br/><br/>

    <h2>Places to Vist on Excursion</h2>
    <label>Place:</label>
    <input type="text" name="excursion[places][][name]" /><br/>
    <label>Place Description:</label>
    <input type="text" name="excursion[places][][description]" /><br/>
    <label>Place Activities:</label>
    <input type="text" name="excursion[places][][activities]" /><br/>
     <label>Place:</label>
    <input type="text" name="excursion[places][][name]" /><br/>
    <label>Place Description:</label>
    <input type="text" name="excursion[places][][description]" /><br/>
    <label>Place Activities:</label>
    <input type="text" name="excursion[places][][activities]" /><br/>
     <label>Place:</label>
    <input type="text" name="excursion[places][][name]" /><br/>
    <label>Place Description:</label>
    <input type="text" name="excursion[places][][description]" /><br/>
    <label>Place Activities:</label>
    <input type="text" name="excursion[places][][activities]" /><br/>
     <label>Place:</label>
    <input type="text" name="excursion[places][][name]" /><br/>
    <label>Place Description:</label>
    <input type="text" name="excursion[places][][description]" /><br/>
    <label>Place Activities:</label>
    <input type="text" name="excursion[places][][activities]" /><br/>
     <label>Place:</label>
    <input type="text" name="excursion[places][][name]" /><br/>
    <label>Place Description:</label>
    <input type="text" name="excursion[places][][description]" /><br/>
    <label>Place Activities:</label>
    <input type="text" name="excursion[places][][activities]" /><br/>
    <input type="submit" value="Edit Excursion">


</form>