<h3>Add a new Excursion</h3>
<form action="/excursions" method="post">
    <label>Name: </label>
    <input type="text" name="name" /><br/>
    <label>Description: </label>
    <textarea rows="12" cols="50" type="text" name="description"></textarea><br/>
    <label>Duration in Days </label>
    <input type="text" name="days_duration" /><br/>
    <input type="submit" value="Save">

</form>


