<h3><%= @excursion.name %></h3>

<p><%= @excursion.description</p>
<p><%= @excursion.days_duration</p>


<% if Helpers.current_user(session) == @recipe.user %>
<a href="/excursions/<%=@recipe.id%>/edit">Edit Recipe</a>

